* {
	border: none;
	border-radius: 0;
	font-family: Terminess Nerd Font;
	font-size: 14px;

	/* min-height: 0; */
	margin: 0;
	padding: 0;
}

window#waybar {
	background-color: #15170F;
	color: #E5E9D8;
}

#workspaces button.active {
	color: #9FD88A;
}

button:hover {
	background: inherit;
	color: #9FD88A;
}

#custom-sep {
	color: #A3B08F;
}

#tray widget>image {
    margin-right: 2px;
}
