* {
	border: none;
	border-radius: 0;
	font-family: Terminess Nerd Font;
	font-weight: normal;
	font-size: 14px;

	/* min-height: 0; */
	margin: 0;
	padding: 0;
}

window#waybar {
	background-color: #15170F;
	color: #E5E9D8;
}

#workspaces button {
    color: #959999;
    padding: 0 11px;
    min-width: 0;
}

#workspaces button.active {
	color: #9FD88A;
}

button:hover {
	background: inherit;
	color: #9FD88A;
}

#workspaces button:hover,
#workspaces button.active:hover {
	background: inherit;
	color: #9FD88A;
	box-shadow: none;
	text-shadow: none;
}

#custom-sep {
	color: #A3B08F;
}

#tray widget>image {
    margin-right: 2px;
}
